cluster:
  controlPlane:
    endpoint: https://{{ vip_controlplane }}:6443
  apiServer:
    certSANs:
      - {{ vip_controlplane }}
  extraManifests:
    - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
    - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml