machine:
  kubelet:
    extraArgs:
      rotate-server-certificates: true
  features:
    rbac: true
  network:
    hostname: {{ item.1.name }}
    interfaces:
      - interface: {{ item.0.stdout | from_json | json_query('if') }}
        dhcp: false
{% set controlplanes_names = controlplanes | map(attribute='name') | list %} 
{% if item.1.name in controlplanes_names %}
        vip: 
          ip: {{ vip_controlplane }}
{% endif %}
        addresses:
          - {{ item.1.ip }}/24
        routes:
          - network: 0.0.0.0/0
            gateway: {{ gateway }}
            metric: 1024 
    nameservers:
{% for ip in dns %}
      -  {{ ip }}
{% endfor %}
